.card{
  width: 55vw;
  height: fit-content;
  background-color: var(--color-card);
  box-shadow: var(--shadow-card);
  margin-right: 5vw;
  margin-left: 3vw;
  text-align: center;
  padding: 20px;
  border-radius: 0.75rem;
  position: relative;
}
.garden{
  position: relative;
}

.backgroundImg{
  width: 100%;
  height: auto;
}

.dirtSection{
  width: 100%;
  height: 34%;
  position: absolute;
  bottom:3px;
}

.plant{
  position: absolute;
  width: 10%;
  height: auto;
}

@media (max-width: 1200px) {
  .card{
    width: 85vw;
    margin: auto;
    padding: 10px;
  }
}
