
.card{
  height: 70vh;
  width: 400px;
  background-color:var(--color-gray);
  box-shadow: var(--shadow-card);
  margin-left: 5vw;
  margin-top: 50px;
  text-align: center;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer{
  width: 95%;
}